.alert-danger{
        background-color: #ff3547 !important;
        border-color: #ff3547 !important;
        color: #fff !important;
        outline: transparent !important;
     }
    .close{
        color: white !important;
        outline: transparent !important;
    }
    
    .menu-sup{
        background-color:#3E4551 !important;
      }
    .menu-sup > a.dropdown-item{
        background-color:#3E4551 !important;
        color:white !important;
      }
      .menu-sup > a.dropdown-item:hover{
        background-color:#3F729B !important;
        color:white !important;
      }


    .btn-circle.btn-outline-success,
    .btn-circle.btn-outline-default,
    .btn-circle.btn-outline-primary,
    .btn-circle.btn-outline-secondary,
    .btn-circle.btn-outline-warning,
    .btn-circle.btn-outline-danger,
    .btn-circle.btn-outline-info {
      margin-top: 0px;
        width: 40px;
        height: 40px;
        padding: 6px 0px;
        border-radius: 20px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }

    .btn-circle.btn-xl {
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      border-radius: 35px;
      font-size: 24px;
      line-height: 1.33;
  }

    .dtr-bs-modal > .modal-dialog > .modal-content > .modal-header > .close{
      color:rgb(112, 112, 112) !important;
    }
    
    